<div class="crm-block">

  <h3 class="widget-header" ng-if="action.configuration_spec.length">{{ts('Configuration')}}</h3>
    <ng-repeat ng-repeat="spec in action.configuration_spec">
        <div crm-ui-field="spec.crmUiField"
             ng-if="spec.options">
            <select crm-ui-id="{{spec.name}}"
                    crm-ui-select="{allowClear: true, minimumInputLength: 0}"
                    name="{{spec.name}}"
                    ng-if="!spec.multiple"
                    ng-model="configuration[spec.name]"
                    ng-required="spec.required"
                    class="huge"
            >
                <option ng-repeat="(key,value) in spec.options" value="{{key}}">{{value}}</option>
            </select>
            <select class="huge"
                    crm-ui-id="{{spec.name}}"
                    crm-ui-select="{allowClear: true, minimumInputLength: 0}"
                    name="{{spec.name}}"
                    ng-if="spec.multiple"
                    ng-model="configuration[spec.name]"
                    ng-required="spec.required"
                    multiple="multiple"
            >
                <option ng-repeat="(key,value) in spec.options" value="{{key}}">{{value}}</option>
            </select>
        </div>
        <div crm-ui-field="spec.crmUiField"
             ng-if="spec.fk_entity">
            <input class="huge"
                    crm-entityref="{entity: spec.fk_entity, select: {allowClear: true, placeholder: spec.title, minimumInputLength: 0}}"
                    crm-ui-id="{{spec.name}}"
                    name="{{spec.name}}"
                    ng-model="configuration[spec.name]"
                    ng-required="spec.required"
            />
        </div>
        <div crm-ui-field="spec.crmUiField"
             ng-if="!spec.options && !spec.fk_entity">
            <input
                    class="huge crm-form-text"
                    crm-ui-id="{{spec.name}}"
                    name="{{spec.name}}"
                    ng-model="configuration[spec.name]"
                    ng-required="spec.required"
                    type="text"
            />
        </div>
        <div class="description" ng-bind-html="spec.description" ng-if="spec.description"></div>
    </ng-repeat>

    <div class="crm-block" ng-form="input_mapper" ng-if="fields">
        <h3 class="widget-header">{{ts('Parameter Mapping')}}</h3>
        <ng-repeat ng-repeat="spec in action.parameter_spec">
            <div crm-ui-field="spec.crmUiField">
                <select class="huge40"
                        crm-ui-id="input_mapper.{{spec.name}}"
                        crm-ui-select="{allowClear: true, minimumInputLength: 0}"
                        name="{{spec.name}}"
                        ng-model="mapping[spec.name]"
                        ng-options="field as field.label for field in fields track by field.name"
                        ng-required="spec.required"
                    <option value=""></option>
                </select>
            </div>
        </ng-repeat>
    </div>

</div>
