<div class="crm-block">

  <h3 class="widget-header" ng-if="action.configuration_spec.length">{{ts('Configuration')}}</h3>
    <ng-repeat ng-repeat="spec in action.configuration_spec">
        <div crm-ui-field="spec.crmUiField" ng-if="spec.options">
          <input
            type="text"
            class="huge"
            crm-ui-id="{{spec.name}}"
            ui-jq="select2"
            ui-options="{placeholder: ts(' - Select - '), dropdownAutoWidth : true, allowClear: true, minimumInputLength: 0, data: {results: spec.select2Options}, multiple: spec.multiple}"
            name="{{spec.name}}"
            ng-model="configuration[spec.name]"
            ng-required="spec.required"
          />
          <div class="description" ng-bind-html="spec.description" ng-if="spec.description"></div>
        </div>
        <div crm-ui-field="spec.crmUiField"
             ng-if="spec.fk_entity">
            <input class="huge"
                    crm-entityref="{entity: spec.fk_entity, select: {allowClear: true, placeholder: spec.title, minimumInputLength: 0, multiple: spec.multiple}}"
                    crm-ui-id="{{spec.name}}"
                    name="{{spec.name}}"
                    ng-model="configuration[spec.name]"
                    ng-required="spec.required"
            />
            <div class="description" ng-bind-html="spec.description" ng-if="spec.description"></div>
        </div>
        <div crm-ui-field="spec.crmUiField"
             ng-if="!spec.options && !spec.fk_entity && spec.wysiwyg">
            <div style="overflow: hidden;"><div style="float: right;">
              <crm-ap-token tokens="{{spec.available_tokens}}" on-select="$broadcast('insert:{{spec.name}}', token.name)" tabindex="-1"></crm-ap-token>
            </div></div>
            <textarea
              crm-ui-id="{{spec.name}}"
              crm-ui-richtext=""
              crm-ui-insert-rx="insert:{{spec.name}}"
              name="{{spec.name}}"
              ng-model="configuration[spec.name]"
              data-preset="civimail"
            ></textarea>
          <div class="description" ng-bind-html="spec.description" ng-if="spec.description"></div>
        </div>
        <div crm-ui-field="spec.crmUiField"
             ng-if="!spec.options && !spec.fk_entity && !spec.wysiwyg">
            <input
                    class="huge crm-form-text"
                    crm-ui-id="{{spec.name}}"
                    name="{{spec.name}}"
                    ng-model="configuration[spec.name]"
                    ng-required="spec.required"
                    type="text"
            />
            <div class="description" ng-bind-html="spec.description" ng-if="spec.description"></div>
        </div>

    </ng-repeat>

    <div class="crm-block" ng-form="input_mapper" ng-if="fields">
        <h3 class="widget-header">{{ts('Parameter Mapping')}}</h3>
        <ng-repeat ng-repeat="spec in action.parameter_spec">
          <ng-include src="'~/action_provider/parameterSpec.html'" ng-if="spec.type != 'group'"></ng-include>
          <div class="crm-accordion-wrapper collapsed" ng-if="spec.type == 'group'">
            <div class="crm-accordion-header">{{spec.title}}</div>
            <div class="crm-accordion-body">
              <ng-repeat ng-repeat="spec in spec.specification_bag">
                <ng-include src="'~/action_provider/parameterSpec.html'" ng-if="spec.type != 'group'"></ng-include>
              </ng-repeat>
            </div>
          </div>
        </ng-repeat>
    </div>

</div>
