<div crm-ui-field="spec.crmUiField">
    <input
        type="text"
        class="huge"
        crm-ui-id="input_mapper.{{spec.name}}"
        ui-jq="select2"
        ui-options="{placeholder: ts(' - Select - '), dropdownAutoWidth : true, allowClear: true, minimumInputLength: 0, data: {results: fields}, multiple: spec.multiple}"
        name="{{spec.name}}"
        ng-model="mapping[spec.name]"
        ng-required="spec.required"
    />
    <div class="description" ng-bind-html="spec.description" ng-if="spec.description"></div>
</div>
