<div crm-ui-field="spec.crmUiField">
  <select class="huge"
          crm-ui-id="input_mapper.{{spec.name}}"
          ui-jq="select2"
          ui-options="{dropdownAutoWidth : true, allowClear: true, minimumInputLength: 0}"
          name="{{spec.name}}"
          ng-model="mapping[spec.name]"
          ng-required="spec.required"
          ng-if="!spec.multiple">
    <option ng-repeat="field in fields track by field.name" value="{{field.name}}">{{field.label}}</option>
  </select>

  <select class="huge"
          crm-ui-id="input_mapper.{{spec.name}}"
          ui-jq="select2"
          ui-options="{dropdownAutoWidth : true, allowClear: true, minimumInputLength: 0}"
          name="{{spec.name}}"
          ng-model="mapping[spec.name]"
          ng-required="spec.required"
          ng-if="spec.multiple"
          multiple="multiple">
    <option ng-repeat="field in fields track by field.name" value="{{field.name}}">{{field.label}}</option>
  </select>
  <div class="description" ng-bind-html="spec.description" ng-if="spec.description"></div>
</div>
